Sink {
    background-color: #151515;
    color: #818181;

    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-line;
    display: block;
}

spoiler {
    background-color: #818181;
    color: #818181;
}

spoiler:hover {
    color: inherit;
    background-color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

blockquote {
    background-color: #1a1a1a;
    color: #818181;

    height: auto;
    padding: 0px 10px 0px 10px;
    margin: 0;
    border-radius: 10px 10px 10px 0px;

    font-style: italic;
    white-space: pre-line;
}

hr {
    border-top: 3px solid #818181;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

body > .container {
  padding: 60px 15px 0;
}

.content > p {
    margin-bottom: 1rem;
}

.Atabox-Bootstrap {
    background-color: #202020;
    color: #b0b0b0;
}

.NewInput {
    width: 49%;
    background-color: #151515;
    color: #a0a0a0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}


.NewField {
    width: 98%;
    background-color: #151515;
    color: #a0a0a0;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
}

.TagInput {
    margin-top:5px;
    width: 98%;
    background-color: #151515;
    color: #a0a0a0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.NewButton {
    background-color: rgba(0,0,0,0);
    color: #a0a0a0;
    border: red solid 2px;
    border-radius: 25px;
    padding: 0px 30px 0px 30px;
    transition: all 0.5s ease-out;

    height: 30px;
    margin-top: 5px;
}

.NewButton:hover {
    background-color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  vertical-align: middle;
  /* line-height: 40px; /* Vertically center the text there */

  background-color: #151515;
  color: #818181;
}

.glow {
    text-shadow: #FC0 1px 0 10px;
}
