
    <body class="Atabox-Bootstrap">
        <div class="container">
            <center><h1>Atagait's Grimoire</h1></center>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto">
                    <Sink>The Atabox runs on a travel router, a Raspberry Pi Zero W, and a 10,000mA battery.
                        This site was built on Python's SANIC library with a SQLite backend.
                        Other libraries used include Pillow, and Markdown.
                    </Sink>
                    <Sink style="margin-top:5px;">$CHANGES</Sink>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
