
        <div class="container">
            <center><h1>$TITLE</h1></center>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto">
                    <Sink>$ITEMS</Sink>
                </div>
                <div class="col"></div>
            </div>
            <br>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto">
                    <a class="NewButton" href="/newPage">New</a>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto">
                    $PROMPT
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
