
        <div class="container">
            <center>
                <br>
                <form action="/submit" method="post">
                    <input required class="NewInput" type="text" name="Book" placeholder="Book Name" value="$BOOK">
                    <input required class="NewInput" type="text" name="Page" placeholder="Page Name" value="$PAGE">
                    <input required class="TagInput" type="text" name="Tags" placeholder="Page Tags" value="$TAGS">
                    <textarea class="NewField" rows=25 name="Content" placeholder="Page Content">$CONTENT</textarea>
                    <input class="NewButton" type="submit" name="NEW" value="Submit">
                </form>
            </center>
        </div>
    </body>
