
        <div class="container">
            <center>
                <br>
                <form action="/submit" method="post">
                    <input required class="NewInput" type="text" name="Book" placeholder="Book Name" value="$BOOK">
                    <input required class="NewInput" type="text" name="Page" placeholder="Page Name" value="$PAGE"><br>
                    <p><input required class="NewInput" style="margin-top:5px; width: 98%;" type="text" name="Tags" placeholder="Page Tags" value="$TAGS"></p>
                    <p><textarea class="NewField" name="Content" rows="15" placeholder="Page Content">$CONTENT</textarea></p>
                    <input class="NewButton" type="submit" name="NEW" value="Submit">
                </form>
            </center>
        </div>
    </body>
