
        <div class="container">
            <center>
                <h3>No Page Found.</h3>
                <form action="/submit" method="post">
                    <input class="NewInput" type="text" name="Book" placeholder="Book Name" value="$BOOK">
                    <input class="NewInput" type="text" name="Page" placeholder="Page Name" value="$PAGE">
                    <input required class="TagInput" type="text" name="Tags" placeholder="Page Tags" value="">
                    <p><textarea class="NewField" name="Content" rows="15" placeholder="Page Content">Nothing was found here, Zodivikh. Perhaps you intended to create it, however?</textarea></p>
                    <input class="NewButton" type="submit" name="NEW" value="Submit">
                </form>
            </center>
        </div>
    </body>
