
        <div class="container">
            <center>
                <h3>No Page Found.</h3>
                <form action="/submit" method="post">
                    <input class="NewInput" type="text" name="Book" placeholder="Book Name" value="$BOOK">
                    <input class="NewInput" type="text" name="Page" placeholder="Page Name" value="$PAGE">
                    <input required class="TagInput" type="text" name="Tags" placeholder="Page Tags" value="">
                    <p><textarea id="edit" class="NewField" name="Content" rows="15" placeholder="Page Content">Nothing was found here, Zodivikh. Perhaps you intended to create it, however?</textarea></p>
                    <input class="NewButton" type="submit" name="NEW" value="Submit">
                </form>
            </center>
        </div>
    </body>

    <!-- Foala has too much JS -->
    <script src="/Templates/js/jquery.js"></script>
    <script src="/Templates/js/froala_editor.min.js"></script>
    <script src="/Templates/js/align.min.js"></script>
    <script src="/Templates/js/code_beautifier.min.js"></script>
    <script src="/Templates/js/code_view.min.js"></script>
    <script src="/Templates/js/draggable.min.js"></script>
    <script src="/Templates/js/image.min.js"></script>
    <script src="/Templates/js/image_manager.min.js"></script>
    <script src="/Templates/js/link.min.js"></script>
    <script src="/Templates/js/lists.min.js"></script>
    <script src="/Templates/js/paragraph_format.min.js"></script>
    <script src="/Templates/js/paragraph_style.min.js"></script>
    <script src="/Templates/js/table.min.js"></script>
    <script src="/Templates/js/video.min.js"></script>
    <script src="/Templates/js/url.min.js"></script>
    <script src="/Templates/js/entities.min.js"></script>
    <script>
      $(function(){
        $('#edit')
          .on('froalaEditor.initialized', function (e, editor) {
            $('#edit').parents('form').on('submit', function () {
              console.log($('#edit').val());
              return false;
            })
          })
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null})
      });
  </script>
