<div class="container">
    <form action="/newPage" method="post">
    <center>
        <h1 style="padding-bottom:0px; margin-bottom:0px;">Submit Failed</h1>
    </center>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto content">
            <sink>Goodness, Zodivikh. It appears your page didn't take. Go back to make sure you don't lose any of your
                <em>hard work</em>.</sink>
        </div>
        <div class="col"></div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <input type="Submit" name="Edit" value="Edit" class="NewButton">
    </div>
</footer>
</form>
</body>
