
    <body class="Atabox-Bootstrap">
        <div class="container">
            <center><h1>Atagait's Grimoire</h1></center>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto">
                    <form id="uploadbanner" enctype="multipart/form-data" method="POST" action="/uploadb">
                       <input id="fileupload" name="myfile" type="file" />
                       <input type="submit" value="submit" name="UPLOAD" id="submit" />
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
